.main-heading{
	color: skyblue;
	margin: 10px 5px 5px 500px;
}
.sec{
	margin:  10px 5px 5px 550px;
}
.third{
	margin:  10px 5px 5px 550px;
}
.forth{
	margin:  10px 5px 5px 550px;
}
.fif{
	margin:  10px 5px 5px 550px;
}
.six{
	margin:  10px 5px 5px 550px;
}
.pic{
	margin: 0px 30px 5px 900px;
	float: right;
}s 